{% extends 'userside/userbase.html' %}

{% load static %}



{% block contentblock %}
    

    



        

        <!-- Start page content -->
        <div id="page-content" class="page-wrapper section">

            <!-- SHOP SECTION START -->
            <div class="shop-section mb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-9 order-lg-2 order-1">
                            <div class="shop-content">
                                <!-- shop-option start -->

                                <!-- <div class="shop-option box-shadow mb-30 clearfix"> -->

                                    <!-- Nav tabs -->


                                    <!-- <ul class="nav shop-tab f-left" role="tablist">
                                        <li>
                                            <a class="active" href="grid-view" data-bs-toggle="tab"><i class="zmdi zmdi-view-module"></i></a>
                                        </li>
                                        <li>
                                            <a href="#list-view" data-bs-toggle="tab"><i class="zmdi zmdi-view-list-alt"></i></a>
                                        </li>
                                    </ul> -->

                                    <!-- short-by -->

                                    <!-- <div class="short-by f-left text-center">
                                        <span>Sort by :</span>
                                        <select>
                                            <option value="volvo">Newest items</option>
                                            <option value="saab">Saab</option>
                                            <option value="mercedes">Mercedes</option>
                                            <option value="audi">Audi</option>
                                        </select> 
                                    </div>  -->

                                    <!-- showing -->

                                    <!-- <div class="showing f-right text-right">
                                        <span>Showing : 01-09 of 17.</span>
                                    </div>                                   
                                </div> -->

                                <!-- shop-option end -->
                                <!-- Tab Content start -->
                                <div class="tab-content">
                                    <!-- grid-view -->
                                    <div id="grid-view" class="tab-pane active show" role="tabpanel">
                                        <div class="row">
                                            <!-- product-item start -->
                                            
                                            {% for p in products %}
                                                
                                            
                                                
                                            <div class="col-lg-4 col-md-6">
                                                <div class="product-item">
                                                    <div class="product-img">
                                                        <a href="{% url 'product_detial' p.id %}">
                                                            <img src="{{ p.productimage.url  }}"  alt=""/>
                                                        </a>
                                                    </div>
                                                    <div class="product-info">
                                                        <h6 class="product-title">
                                                            <a href="{% url 'product_detial' p.id %}">{{p.product_name}} <h4>{{p.storage}}</h4> <h5>{{p.ram}}</h5></a>
                                                            
                                                            
                                                        </h6>
                                                        <!-- <div class="pro-rating">
                                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                            <a href="#"><i class="zmdi zmdi-star"></i></a>
                                                            <a href="#"><i class="zmdi zmdi-star-half"></i></a>
                                                            <a href="#"><i class="zmdi zmdi-star-outline"></i></a>
                                                        </div> -->
                                                        
                                                        {% if not p.discount_price  %}
                                                        <h3 class="pro-price">Rs. {{p.price}}</h3>
                                                        {% else %}
                                                               
                                                        <h3 class="pro-price">Rs. <del class="text-danger">{{p.price}}</del> &nbsp;{{p.discount_price }}</h3>
                                                        {% endif %}  
                                                        
                                                        <ul class="action-button">
                                                           
                                                            
                                                            <li>    
                                                                <a href="{% url 'wishlist' p.id %}" title="Wishlist"><i class="zmdi zmdi-favorite"></i></a>
                                                            </li>
                                                            
                                                            
                                                            <li>
                                                                <a href="{% url 'addtocart' p.id %}"  title="Add to cart"><i class="zmdi zmdi-shopping-cart-plus"></i></a>
                                                            </li>
                                                        </ul>    
                                                        
                                                            
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                            <!-- product-item end -->
                                           
                                        </div>
                                    </div>
                                    <!-- list-view -->
                                   
                                </div>
                                <!-- Tab Content end -->
                                <!-- shop-pagination start -->

                                <!-- <ul class="shop-pagination box-shadow text-center ptblr-10-30">
                                    <li><a href="#"><i class="zmdi zmdi-chevron-left"></i></a></li>
                                    <li><a href="#">01</a></li>
                                    <li><a href="#">02</a></li>
                                    <li><a href="#">03</a></li>
                                    <li><a href="#">...</a></li>
                                    <li><a href="#">05</a></li>
                                    <li class="active"><a href="#"><i class="zmdi zmdi-chevron-right"></i></a></li>
                                </ul> -->

                                <!-- shop-pagination end -->
                            </div>
                        </div>
                        <div class="col-lg-3 order-lg-1 order-2">

                            <!-- widget-search -->

                            <!-- <aside class="widget-search mb-30">
                                <form action="#">
                                    <input type="text" placeholder="Search here...">
                                    <button type="submit"><i class="zmdi zmdi-search"></i></button>
                                </form>
                            </aside> -->    


                            <!-- widget-categories -->
                            <aside class="widget widget-categories box-shadow mb-30">
                                <h6 class="widget-title border-left mb-20">Categories</h6>
                                <div id="cat-treeview" class="product-cat">
                                    <ul>
                                        {% for cat in category %}
                                        <li class="closed"><a href="{% url 'products_list' cat.id %}">{{cat.title}}</a>
                                           
                                        </li>   
                                        {% endfor %}                                    
                                        
                                        
                                    </ul>
                                </div>
                            </aside>
                            <!-- shop-filter -->
                            <!-- <aside class="widget shop-filter box-shadow mb-30">
                                <h6 class="widget-title border-left mb-20">Price</h6>
                                <div class="price_filter">
                                    <div class="price_slider_amount">
                                        <input type="submit"  value="You range :"/> 
                                        <input type="text" id="amount" name="price"  placeholder="Add Your Price" /> 
                                    </div>
                                    <div id="slider-range"></div>
                                </div>
                            </aside> -->
                            <!-- widget-color -->
                            <!-- <aside class="widget widget-color box-shadow mb-30">
                                <h6 class="widget-title border-left mb-20">color</h6>
                                <ul>
                                    <li class="color-1"><a href="#">LightSalmon</a></li>
                                    <li class="color-2"><a href="#">Dark Salmon</a></li>
                                    <li class="color-3"><a href="#">Tomato</a></li>
                                    <li class="color-4"><a href="#">Deep Sky Blue</a></li>
                                    <li class="color-5"><a href="#">Electric Purple</a></li>
                                    <li class="color-6"><a href="#">Atlantis</a></li>
                                </ul>
                            </aside> -->
                            

                            <!-- widget-product -->
                            <aside class="widget widget-product box-shadow">
                                <h6 class="widget-title border-left mb-20">recent products</h6>
                                <!-- product-item start -->
                                {% for p in recent_p %}
                                <div class="product-item">
                                    <div class="product-img">
                                        <a href="{% url 'product_detial' p.id %}">
                                            <img src="{{p.productimage.url}}" alt=""/>
                                        </a>
                                    </div>
                                    <div class="product-info">
                                        <h6 class="product-title">
                                            <a href="{% url 'product_detial' p.id %}">{{p.product_name}}</a>
                                        </h6>
                                        {% if not p.discount_price %}
                                        <h3 class="pro-price">Rs. {{p.price}}</h3>
                                        {% else %}
                                        <h3 class="pro-price">Rs.{{p.discount_price}}</h3>
                                        {% endif %}
                                    </div>
                                </div>
                                {% endfor %}
                                
                                <!-- product-item end -->                               
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
            <!-- SHOP SECTION END -->             

        </div>
        <!-- End page content -->

       
        <!-- START QUICKVIEW PRODUCT -->
       
        <!-- END QUICKVIEW PRODUCT -->  

       
    </div>
    <!-- Body main wrapper end -->
    {% endblock  %}


  