{% extends 'cat_adminside/cat_adminbase.html' %}


{% load static %}




{% block blockcontent %}
    

    
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Banners</h3>
                        <div class="crumbs">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li class="active"><a href="#">Banner List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-120">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Banner List </h4>
                                        
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                            
                                        <a href="{% url 'banner-add' %}">
                                            <button type="button" class="btn btn-primary mt-2 ms-5 ">Add Banner</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive mb-4">
                                    <table id="ecommerce-product-list" class="table  table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="text-center">ID</th>
                                                <th class="text-center">Image</th>
                                                <th class="text-center">title</th>
                                                <th class="align-center">Edit</th>
                                                <th class="align-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for b in banner %}
                                                
                                           
                                                
                                            <tr>
                                                <td class="text-center">{{b.id}}</td>
                                                <td class="text-center">
                                                <a class="product-list-img" href="javascript: void(0);"><img src="{{ b.bannerimage.url }}" alt="product"></a></td>
                                                <td class="text-center">{{ b.title }}</td>
                                               
                                                <td class="text-center"> 
                                                    <a href="{% url 'banner-edit' b.id %}"><button type="button" class="btn btn-primary">Edit</button></a>
                                                </td>
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                       
                                                        <li>
                                                            <!-- <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Delete">
                                                                <i class="flaticon-delete-5"></i>
                                                            </a> -->
                                                            <a href="{% url 'delete-banner' b.id %}"><button type="button" class="btn btn-primary" onclick="return confirm('Delete Banner?')">Delete</button></a>
                                                            
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                           
                                          
                                           
                                           
                                           
                                           
                                           
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>
    <!-- END MAIN CONTAINER -->

  

    {% endblock  %}