{% extends 'cat_adminside/cat_adminbase.html' %}


{% load static %}




{% block blockcontent %}
    

    
        <!--  END SIDEBAR  -->

        <!--  BEGIN CONTENT PART  -->
        <div id="content" class="main-content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <h3>Offers</h3>
                        <div class="crumbs">
                            <ul id="breadcrumbs" class="breadcrumb">
                                <li><a href="index.html"><i class="flaticon-home-fill"></i></a></li>
                                <li><a href="#">eCommerce</a></li>
                                <li class="active"><a href="#">Offer List</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <div class="row margin-bottom-120">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="statbox widget box box-shadow">
                            <div class="widget-header">
                                <div class="row">
                                    <div class="col-xl-12 col-md-12 col-sm-12 col-12">
                                        <h4>Offer List </h4>
                                        
                                        {% for msg in messages %}
                                            <p class="text-danger">{{msg}}</p>
                                        {% endfor %}
                                            
                                        <a href="{% url 'coupon_add' %}">
                                            <button type="button" class="btn btn-primary mt-2 ms-5 ">Add Offer</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="widget-content widget-content-area">
                                <div class="table-responsive mb-4">
                                    <table id="ecommerce-product-list" class="table  table-bordered">
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                
                                                <th>Coupon</th>
                                                
                                                <th>Discount Percentage</th>
                                                <!-- <th>Product List</th> -->
                                                <!-- <th>Category</th> -->
                                                <!-- <th>Sku</th> -->
                                                <th>Active</th>
                                                
                                                
                                                <th class="align-center">Edit</th>
                                                <th class="align-center">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for c in coupon %}
                                                  
                                            <tr>
                                                <td>{{forloop.counter}}</td>
                                                
                                                <td>{{ c.coupon_code }}</td>
                                                
                                                <td>{{c.discount_percentage}}%</td>
                                                <td>
                                                    {{c.is_active}}
                                                    
                                                </td>
                                                
                                                <!-- <td>ITEM-0001</td> -->
                                                <!-- <td>$120.00</td> -->
                                                
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                       
                                                        <!-- <li>
                                                            {% if c.is_acitve %}
                                                            <a href="{% url 'block_coupon' c.id %}"><button type="button" class="btn btn-primary" >Block</button></a>
                                                            {% else %}
                                                            <a href="{% url 'block_coupon' c.id %}"><button type="button" class="btn btn-danger" >Unblock</button></a>
                                                            {% endif %}
                                                        </li>
                                                    </ul> -->

                                                    <div class="d-flex">
                                                        <div class=" align-self-center d-m-success  mr-1 "></div>
                                                        
                                                        
                                                        {% if c.is_active %}
                                                        <a href="{% url 'block_coupon' c.id %}">
                                                        
                                                        <button class="btn btn-danger"  onclick="return confirm('Are you sure to unblock this coupon ?')">
                                                            <span class="label label-success">Block</span>
                                                        </button></a>
                                                        
                                                            
                                                        {% else %}
                                                            
                                                        <a href="{% url 'block_coupon' c.id %}">
                                                        <button class="btn btn-primary" onclick="return confirm('Are you sure to unblock this coupon ?')">
                                                            <span class="label label-success">Unblock</span>
                                                        </button>
                                                        </a>

                                                        {% endif %}
                                                        
                                                    </div>
                                                </td>
                                                
                                                <td class="align-center">
                                                    <ul class="table-controls">
                                                       
                                                        <li>
                                                            
                                                            <a href="{% url 'coupondelete' c.id %}"><button type="button" class="btn btn-primary" onclick="return confirm('Do you want delete coupon?')">Delete</button></a>
                                                            
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                           
                                          
                                           
                                           
                                           
                                           
                                           
                                           
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  END CONTENT PART  -->
    </div>
    <!-- END MAIN CONTAINER -->

  

    {% endblock  %}